html,
body {
  margin: 0;
  background: #fff;
}

html,
body,
strong,
small,
a,
p,
span,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #152342;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.ch-marketing h1 {
  font-size: 54px;
}

.ch-marketing h2 {
  font-size: 32px;
}

.ch-marketing h3 {
  font-size: 24px;
}

.ch-marketing h4 {
  font-size: 21px;
}
.ch-marketing h5 {
  font-size: 19px;
}
.ch-marketing h6 {
  font-size: 16px;
}
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 600;
}
.font-weight-700 {
  font-weight: 700;
}
.font-weight-800 {
  font-weight: 800;
}
.font-weight-900 {
  font-weight: 900;
}

.text-center {
  text-align: center;
}

.primary-button {
  background: #e95b35;
  color: #fff;
  padding: 8px 16px;
  border-radius: 40px;
  text-decoration: none;
  vertical-align: middle;
  display: flex;
  gap: 6px;
  justify-content: space-around;
  width: 100%;
  max-width: 130px;
}
.terrain-bg {
  position: absolute;
  background-image: url("img/terrain.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.terrain2-bg {
  position: absolute;
  background-image: url("img/terrain-2.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1150px;
  padding: 24px 0 16px 0;
}
nav .nav-logo img {
  width: 100%;
}
nav .nav-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}
nav .nav-list a {
  text-decoration: none;
}
nav .nav-contact-us {
  background: #e95b35;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 8px 16px;
  text-decoration: none;
  margin: 0 auto;
  gap: 8px;
}
nav .nav-contact-us span {
  color: #fff;
}
.main-wrapper {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.flex-section {
  display: flex;
  justify-content: center;
  align-content: unset;
  width: 1080px;
  text-align: center;
}

.flex-section h1,
.flex-section p {
  margin: 0;
}

.hero-wrapper {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 400px;
  height: auto;
  justify-content: center;
  overflow: hidden;
  padding: 120px 0 50px;
  position: relative;
  width: 100%;
}

.flex-content {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: min-content;
  justify-content: center;
  max-width: 1150px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 1150px;
  z-index: 1;
}

.hero-heading {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: min-content;
  justify-content: center;
  max-width: 1150px;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 1150px;
}

.hero-heading .hero-text {
  align-content: center;
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: min-content;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}

.hero-heading .hero-btn-wrapper {
  flex: none;
  height: auto;
  position: relative;
  width: auto;
  z-index: 2;
}

.ch-marketing .hero-btn {
  background: #e95b35;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 21px 16px;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  max-width: 234px;
}

.ch-marketing .hero-btn .left-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ch-marketing .hero-btn .btn-text {
  font-size: 18px;
  color: #fff;
  line-height: 17px;
  margin-top: -8px;
  text-align: left;
  padding-left: 16px;
}

.ch-marketing .hero-btn .btn-text small {
  font-size: 12px;
  color: #fff;
}

.hero-bg-wrapper {
  align-content: center;
  align-items: center;
  border-radius: 30px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 30px;
  height: 1080px;
  justify-content: flex-start;
  left: calc(50.00000000000002% - min(1200px, 1150px) / 2);
  max-width: 1200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1150px;
}

.hero-bg-container {
  position: absolute;
  border-radius: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-bg-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  object-position: center;
  object-fit: cover;
  image-rendering: auto;
}

.floating-caption-left {
  background: #152342;
  color: #fff;
  align-content: center;
  align-items: center;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 45px;
  justify-content: center;
  left: 167px;
  overflow: hidden;
  padding: 10px 20px;
  position: absolute;
  top: 52%;
  width: auto;
  z-index: 1;
}

.caption-left {
  color: #fff;
}

.floating-caption-right {
  background: #e95b35;
  color: #fff;
  align-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  height: 45px;
  justify-content: center;
  left: 754px;
  overflow: hidden;
  padding: 10px 20px 8px;
  position: absolute;
  top: 54%;
  width: auto;
  z-index: 1;
}

.caption-right {
  color: #fff;
}

.hero-intro {
  align-content: flex-start;
  background: #fff;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 3px 40px #00000026;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 960px;
  z-index: 1;
}

.hero-intro .ch-logo {
  width: 197px;
  height: auto;
  margin-bottom: 24px;
}

.hero-intro p {
  font-weight: 400;
  color: #7e7e7e;
}

.hero-intro .left-content {
  width: 55%;
  text-align: left;
  padding: 60px 30px 60px 60px;
}

.hero-intro .right-content {
  width: 45%;
  padding: 60px 60px 60px 30px;
}

.slider-flex {
  display: flex;
  align-items: center;
}

.slider-thumb-wrapper {
  width: 100%;
}
.slider-thumb {
  height: 450px;
  width: 100%;
  border-radius: 105px;
  max-width: 563px;
}
.slider-thumb-1 {
  background-image: url(../assets/img/photography-sample.png);
  background-size: cover;
  background-position: bottom;
}
.slider-thumb-2 {
  background-image: url(../assets/img/floorplan-sample.png);
  background-size: cover;
  background-position: center;
}
.slider-thumb-3 {
  background-image: url(../assets/img/copywriting-sample.png);
  background-size: cover;
  background-position: center;
}
.slider-content {
  padding: 24px;
  text-align: left;
  padding: 60px 40px;
}

.slider {
  margin: 16px 0;
  padding: 16px 0 80px;
  width: 100%;
  max-width: 1218px;
  display: flex;
  margin: auto;
}

/* Swiper */
/* Our Services */
section.our-team {
  background: #f4f4f4;
  padding: 80px 0;
  position: relative;
}
section.our-team h4 {
  margin-top: 0;
}
section.our-team .flex-content {
  gap: 0;
}
section.our-team .start-here {
  position: absolute;
  left: 8%;
  bottom: 7%;
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Our Teams*/
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

/* End Swiper */

.slider-heading {
  display: flex;
  align-items: center;
  gap: 16px;
}
swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-content .feature-icon {
  background-color: #152342;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 52px;
  border-radius: 40px;
}

/* Teams */
.team-thumb {
  border-radius: 35px;
  height: 300px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column-reverse;
}
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-left {
  border-radius: 35px;
}
.team-1 {
  background-image: url("../assets/img/team/kelseyd.jpeg");
  background-size: cover;
  background-position: center;
}
.team-2 {
  background-image: url("../assets/img/team/oliviad.jpeg");
  background-size: cover;
  background-position: center;
}
.team-3 {
  background-image: url("../assets/img/team/paulg.jpg");
  background-size: cover;
  background-position: center;
}
.team-4 {
  background-image: url("../assets/img/team/mj.png");
  background-size: cover;
  background-position: top;
}
.team-5 {
  background-image: url("../assets/img/team/mattcampbell.jpg");
  background-size: cover;
  background-position: top;
}
.team-info {
  display: flex;
  height: 101px;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 0px 0px 32px 32px;
  background: rgba(0, 0, 0, 0.6);
}
.team-info span {
  color: #fff;
}
.team-info span.team-linedin {
  display: flex;
}

/* Home video section */
section.home-video-section {
  padding: 80px 16px;
}
section.home-video-section .flex-section {
  margin: auto;
  width: 100%;
  max-width: 1150px;
  min-height: 665px;
  position: relative;
}
.play-icon {
  background: #fff;
  border-radius: 100%;
  position: absolute;
  margin: auto;
  top: 48%;
  height: 70px;
  width: 70px;
}
.play-icon svg {
  padding-top: 23px;
  padding-left: 6px;
}
.video-thumb-left {
  background-image: url("img/Team/mattcampbell.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 50%;
}
.video-info-right {
  background: #152342;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 50%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.video-info-right * {
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
}

/* Our Client */
.our-clients-section {
  background: #f4f4f4;
  padding: 80px 0;
}
.our-clients-section .flex-section {
  margin: auto;
}
.our-clients-section h4 {
  margin: 0;
}
.our-clients-section swiper-slide {
  background: none;
}
.our-clients-section swiper-slide img {
  width: auto;
  height: 70px;
}
.our-clients-section .swiper {
  padding: 0;
}
.our-clients-section .swiper-slide {
  height: auto;
}

/* Download App */
section.download-app-section {
  background: #ba492a;
  color: #fff;
  padding: 80px 0;
  position: relative;
}
section.download-app-section .flex-section {
  gap: 0;
  margin: auto;
}
section.download-app-section h4 {
  margin-top: 0;
  color: #fff;
}
section.download-app-section h2 {
  margin: 0;
  color: #fff;
}
section.download-app-section .download-app-content {
  display: flex;
  gap: 32px;
}
section.download-app-section ul {
  padding: 0;
  list-style: none;
}
section.download-app-section ul li {
  color: #fff;
  text-align: left;
  font-size: 19px;
  padding: 8px 0;
}
section.download-app-section .download-buttons {
  text-align: left;
}
section.download-app-section .download-buttons a {
  text-decoration: none;
  padding-right: 8px;
}
section.download-app-section .content-left {
  width: 45%;
}
section.download-app-section .content-left img {
  width: 100%;
}
section.download-app-section .content-right {
  width: 55%;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
section.download-app-section ul li svg {
  padding-right: 8px;
}

/* Footer */
footer {
  background: #152342;
  color: #fff;
}
footer .flex-section {
  margin: auto;
  width: 100%;
  max-width: 1150px;
  min-height: 665px;
  position: relative;
}
footer ul {
  padding: 0;
  list-style: none;
}
footer ul li {
  color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 1165px) {
  .flex-section,
  .flex-content {
    width: 100%;
  }
}
